#VARIABLE {defaults[auto_flee]} {true};
#VARIABLE {defaults[autologin]} {false};
#VARIABLE {defaults[height_percent]} {60};
#VARIABLE {defaults[layout]} {3};
#VARIABLE {defaults[login_name]} {character};
#VARIABLE {defaults[login_password]} {password};
#VARIABLE {defaults[map_external]} {false};
#VARIABLE {defaults[map_external_lines]} {16};
#VARIABLE {defaults[map_external_rows]} {16};
#VARIABLE {defaults[map_graphics]} {unicode};
#VARIABLE {defaults[modules]} {macros;logging;combat;map};
#VARIABLE {defaults[mud_addr]} {mud.legendmud.org};
#VARIABLE {defaults[mud_port]} {9999};
#VARIABLE {defaults[pane_chat]} {2};
#VARIABLE {defaults[pane_map]} {1};
#VARIABLE {defaults[prompt_color]} {<069>};
#VARIABLE {defaults[terrain]} {OFF};
#VARIABLE {defaults[width_percent]} {60};
